.button {
  padding: 15px 10px;
  border: none;
  background-color: darkgray;
  color: darkslategray;
  font-size: large;
  font-weight: 700;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    // background-color: lightgray;
    scale: 90%;
    transition: 0.8s;
  }

  @media (max-width:480px) {
      font-size: x-large;
      padding: 25px 10px;
  }
}