.formGroupContainer {
  display: flex;
  justify-content: center;
  font-size: x-large;
  gap: 30px;



  .formGroup {
    border: black solid 2px;
    color: black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;

    &:has(input[type="radio"]:checked) {
      background-color: black;
      color: white;
    }
  }
}

.formGroupHeading {
    opacity: 1;
    animation-name: fadeInOpacity;
    // animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
    
    @keyframes fadeInOpacity {
	    0% {
		    opacity: 0;
	    }
	    100% {
		    opacity: 1;
	    }
    }
  
}